In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('TrainData1.txt', sep='\s+', header = None)
labels = pd.read_csv('TrainLabel1.txt', header=None, names=['target'])
df['target'] = labels['target']

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3303,3304,3305,3306,3307,3308,3309,3310,3311,target
0,3.824254,1.923762,1.918450,2.352067e+00,3.117298,3.051735,3.307977,3.430222e+00,3.586667,3.605218,...,1.855640,1.142389,2.054345,2.808224,1.782186,2.665703,2.468214,2.478581,2.308842,1
1,3.904190,2.309524,2.152930,1.000000e+99,3.532368,3.524866,3.677791,3.636671e+00,3.696868,3.716764,...,1.442323,1.000000,2.127914,2.979658,1.961089,2.519027,2.054383,2.689903,2.090928,1
2,3.750908,1.161068,1.017033,2.347993e+00,3.381889,3.393096,3.509134,3.512466e+00,3.622203,3.603050,...,1.584105,1.000000,1.945321,3.257004,1.965061,2.536066,1.449324,2.605230,1.368659,2
3,3.809383,1.912355,1.856940,2.498944e+00,3.289406,3.371232,3.541995,1.000000e+99,3.473179,3.628930,...,1.481658,1.000000,2.155032,3.270371,1.928473,2.618074,2.154013,2.530046,2.185514,1
4,3.893561,2.094192,1.881271,2.785707e+00,3.344339,3.274417,3.485872,3.516527e+00,3.642358,3.688235,...,1.510545,1.000000,2.094192,3.246666,1.824516,2.562317,1.942256,2.598517,1.764624,1

In [11]:
df['target'].value_counts()

target
1    108
2     14
4     14
3     11
5      3
Name: count, dtype: int64

In [18]:
missing_mask = df == 1e99
print(max(df[missing_mask].count()))

12

In [17]:
def data_quality_report(df):
    report_data = []
    for i, column in enumerate(df.columns, 1):
        data = df[column]
        
        # Replace 1e99 with NaN for calculations
        data_clean = data.replace(1e99, np.nan)
        
        # Calculate statistics
        count = len(data)
        missing = (data == 1e99).sum()
        missing_percentage = (missing / count) * 100
        cardinality = data_clean.nunique()
        min_val = data_clean.min()
        q1 = data_clean.quantile(0.25)
        median = data_clean.median()
        q3 = data_clean.quantile(0.75)
        max_val = data_clean.max()
        mean = data_clean.mean()
        std_dev = data_clean.std()
        
        report_data.append({
            'Feature No.': i,
            'Count': count,
            '% of Missing': round(missing_percentage, 2),
            'Cardinality': cardinality,
            'Min.': min_val,
            'Q1': q1,
            'Median': median,
            'Q3': q3,
            'Max.': max_val,
            'Mean': mean,
            'Std. Dev.': std_dev
        })
    
    # Create a DataFrame from the collected data
    report_df = pd.DataFrame(report_data)
    
    return report_df

# Assuming your original DataFrame is named 'df'
quality_report_df = data_quality_report(df)

quality_report_df

,Feature No.,Count,% of Missing,Cardinality,Min.,Q1,Median,Q3,Max.,Mean,Std. Dev.
0,1,150,1.33,148,3.719071,3.821437,3.852210,3.887575,3.972624,3.854181,0.047895
1,2,150,0.67,144,1.000000,1.621176,1.948902,2.171507,2.695455,1.889142,0.392483
2,3,150,1.33,147,1.000000,1.701135,1.893078,2.092175,2.618947,1.878274,0.304658
3,4,150,1.33,148,1.794627,2.290752,2.439439,2.601036,2.966395,2.448697,0.228352
4,5,150,2.00,147,2.705282,3.259093,3.365076,3.458025,3.719680,3.346161,0.180362
...,...,...,...,...,...,...,...,...,...,...,...
3308,3309,150,0.67,149,2.272538,2.501402,2.585771,2.635926,2.800105,2.574772,0.107060
3309,3310,150,2.67,96,1.000000,1.000000,1.703076,2.056074,2.903432,1.626223,0.534463
3310,3311,150,3.33,145,1.627263,2.315708,2.540448,2.670543,3.084301,2.483057,0.288346
3311,3312,150,1.33,148,1.194792,1.945456,2.094122,2.219631,2.575834,2.061617,0.232559
3312,3313,150,0.00,5,1.000000,1.000000,1.000000,2.000000,5.000000,1.600000,1.092992